body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    box-sizing: border-box;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    font-size:70px;
    background: linear-gradient(45deg, #08001f,#30197d);
}